#!/bin/sh

command_exists() {
    command -v "$1" > /dev/null 2>&1
}

configure_desktop() {
    configure_monitors

    xsetroot -cursor_name left_ptr

    $HOME/.config/feh/set_wallpapers.sh
    $HOME/.config/polybar/launch.sh

    run_command picom

    bspc config focus_follows_pointer     true
    bspc config ignore_ewmh_focus         true
    bspc config remove_disabled_monitors  true
    bspc config remove_unplugged_monitors true

    # Theme specific
{% filter indent(4, first=True) %}
{% include "files/themes/" + theme_name %}
{% endfilter %}

}

configure_keybindings() {
    run_command sxhkd
    setxkbmap us,es -option 'grp:win_space_toggle'
}

configure_monitors() {
    bspc desktop Desktop --remove

    monitors=$(xrandr --listactivemonitors | grep -v Monitors | wc -l)

    if [[ $monitors -eq 1 ]]
    then
        autorandr -c mobile
        bspc monitor -d main code music coffee communication organization
    else
        autorandr -c docked
        bspc monitor DP-3-3 -d main code music coffee
        bspc monitor DP-3-2 -d communication organization
    fi
}

run_command() {
    command_exists "$1" && killall -q "$1"
    eval "$1 &"
}

configure_monitors
configure_keybindings
configure_desktop
