* {
  font: "{{ theme.fonts.redhat.text }} 12";
}

element {
  background-color: {{ theme.colors.gray.n1a }};
  padding: 10px;
  text-color: {{ theme.colors.white }};
}

element normal active {
  background-color: {{ theme.colors.gray.n1a }};
  text-color: {{ theme.colors.red.normal }};
}

element selected {
  background-color: {{ theme.colors.red.normal }};
  text-color: {{ theme.colors.white }};
}

entry, inputbar, prompt, textbox-prompt-colon {
  background-color: {{ theme.colors.gray.n1a }};
  font: "{{ theme.fonts.redhat.text }} Medium 12";
  text-color: {{ theme.colors.white }};
}

inputbar {
  children: [ prompt, textbox-prompt-colon, entry ];
  padding: 10px;
}

listview {
  background-color: {{ theme.colors.gray.n1a }};
}

mainbox {
  spacing: 0;
}

textbox-prompt-colon {
  expand: false;
  margin: 0 1ch 0 0;
  str: ":";
}

window {
  anchor: north
  location: north;
  width: 30%;
  y-offset: 55px;
}