background_opacity: 1

colors:
  bright:
    black:             '{{ theme.colors.gray.n4d }}'
    blue:              '{{ theme.colors.indigo.light }}'
    cyan:              '{{ theme.colors.blue.light }}'
    green:             '{{ theme.colors.green.light }}'
    magenta:           '{{ theme.colors.purple.light }}'
    red:               '{{ theme.colors.red.light }}'
    white:             '{{ theme.colors.white }}'
    yellow:            '{{ theme.colors.yellow.light }}'
  normal:
    black:             '{{ theme.colors.gray.n2e }}'
    blue:              '{{ theme.colors.indigo.normal }}'
    cyan:              '{{ theme.colors.blue.normal }}'
    green:             '{{ theme.colors.green.normal }}'
    magenta:           '{{ theme.colors.purple.normal }}'
    red:               '{{ theme.colors.red.normal }}'
    white:             '{{ theme.colors.gray.nde }}'
    yellow:            '{{ theme.colors.yellow.normal }}'
  primary:
    background:        '{{ theme.colors.gray.n0a }}'
    bright_background: '{{ theme.colors.gray.n4d }}'
    bright_foreground: '{{ theme.colors.white }}'
    foreground:        '{{ theme.colors.white }}'

font:
  bold:
    family: {{ theme.fonts.terminal }}
    style: Bold
  italic:
    family: {{ theme.fonts.terminal }}
    style: Italic
  normal:
    family: {{ theme.fonts.terminal }}
  size: 12

window:
  padding:
    x: 10
    y: 8